run_time_code_generation/MathRunner/Service References/MathOperationsService/MathOperations.xsd

<?xml version="1.0"?><xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" /><xs:element name="Increment"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="n" type="xs:int" /></xs:sequence></xs:complexType></xs:element><xs:element name="IncrementResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="IncrementResult" type="xs:int" /></xs:sequence></xs:complexType></xs:element><xs:element name="Decrement"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="n" type="xs:int" /></xs:sequence></xs:complexType></xs:element><xs:element name="DecrementResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="DecrementResult" type="xs:int" /></xs:sequence></xs:complexType></xs:element><xs:element name="SquareRoot"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="x" type="xs:double" /></xs:sequence></xs:complexType></xs:element><xs:element name="SquareRootResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="SquareRootResult" type="xs:double" /></xs:sequence></xs:complexType></xs:element><xs:element name="Timeout"><xs:complexType><xs:sequence><xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="time" type="q1:duration" /></xs:sequence></xs:complexType></xs:element><xs:element name="TimeoutResponse"><xs:complexType><xs:sequence /></xs:complexType></xs:element></xs:schema>